[Desktop Entry]
Version=1.0
Name=Audio Switcher Script
GenericName=Audio Switcher
Comment=Switches audio output between HDMI and aux
Exec=audio-switcher
Icon=${SNAP}/meta/gui/audio-switcher.svg
Terminal=false
Type=Application
Keywords=Audio;Switcher;
